body {
    background-color: #D4D1D1;
    text-align: center;
}
.login {
    height: 400px;
    width: 500px;
    background: linear-gradient(0.25turn, #4B79A1, #283E51);
    margin-top: 10%;
    margin-left: 37%;
    position: absolute;
    box-shadow: 0 0 20px gray;
    color: #D4D1D1;
    letter-spacing: 2px;
}
#username ,#password {
    margin-top: 20px;
    margin-left: 130px;  
    
}

#passwordrgstr{
    display: flex;
}


#showpass {
    position: absolute;
    margin-left: 254px;
    margin-top: -20px;
    color: #aaa7a7;
    display: none;
}
#showpass:hover {
    cursor: pointer;
    color: #999696;
}

#hidepass {
    position: absolute;
    margin-left: 254px;
    margin-top: -20px;
    color: #aaa7a7;
}
#hidepass:hover{
    cursor: pointer;
    color: #999696;
}

table tr td {
    text-align: center;
    vertical-align: middle;
}

#passwordContainer {
    background-color: blueviolet;
    width: max-content;
}

.btnLogin{
    margin-top: 140px;
    border: none;
    padding: 13px 60px;
    background-color: #D4D1D1;
    font-size: 20px;
    color: #477399;
    box-shadow: 1px 1px 4px gray;
    border-radius: 5%;
}

#Register {
    color: #D4D1D1;
    margin-left: 55px;
    margin-top: 10px;
    position: absolute;
}
#Register:hover {
    color: skyblue;
    text-decoration: underline;
    cursor: pointer;
}

.btnLogin:hover {
    opacity: 0.5;
    cursor: pointer;
}
.registerPnl {
    height: 450px;
    width: max-content;
    box-shadow: 0 0 20px gray;
    background: linear-gradient(0.25turn, #4B79A1, #283E51);
    margin-top: 10%;
    margin-left: 35%;
    position: absolute;
    display: none;
    color: #D4D1D1;
}
#registerfrm {
    margin-top: 5%;
    margin-left: -75px;
}
#btnregister {
    position: absolute;
    margin-left: -100px;
    margin-top: 130px;
}
#passwordrgstr {
    margin-left: 250px;
    margin-top: 20px;
}
#mail , #name {
    margin-left: -80px;
}

#image {
    margin-top: 20px;
    margin-left: 150px;
}

#loginback {
    position: absolute;
    margin-left: -20px;
    margin-top: 190px;
    color: #D4D1D1;
}
#img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: none;
}
#loginback:hover {
    color: skyblue;
    text-decoration: underline;
    cursor: pointer;
}

#datepick {
    position: absolute;
    margin-left: 220px;
    margin-top: 75px;
    font-weight: bold;
}

#date {
    margin-left: 20px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D4D1D1;
    color: #D4D1D1;
}

input:invalid {
    border: none;
    border-bottom: 1px solid tomato;
}

input:required {
    border: none;
}

input[type=file], input[type=date] {
    border: none;
}