#navbar {
    position: absolute;
    position: sticky;
    height: 80px;
    width: 100%;
    background: linear-gradient(0.25turn, #4B79A1, #283E51);
    top: 0;
    text-align: left;
    margin-left: 0;
    box-shadow: 0px 0px 20px gray;
}

body {
    background-color: rgb(212, 209, 209);
}

.btn {
    background-color: transparent;
    padding: 15px 32px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    margin-left: 20px;
    margin-top: 11px;
}
.btn:hover {
    color: rgb(212, 209, 209);
    cursor: pointer;
}
.btn:active {
    color: rgb(146, 143, 143);
}

.table-container {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: #ececec;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.table-container thead tr {
    background-color: #4B79A1;
    color: white;
    text-align: left;
    font-weight: bold;
}

.table-container td,
.table-container th {
    padding: 12px 15px;
    text-align: left;

}

.table-container tbody tr {
    border-bottom: 1px solid rgb(187, 187, 187);
}

.table-container tbody tr:hover {
    color: #4B79A1;
    background-color: #eeeeee;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.15);
}

.table-container tbody tr:nth-of-type(even) {
    background-color: #d4d4d4;
}

.table-container tbody tr:last-of-type {
    border-bottom: 2px solid #4B79A1;
}

#container1 {
    margin-top: 5%;
    margin-left: 35%;
    height: max-content;
    width: max-content;
    display: none;
}

.cont {
    background-color: #3B5E7D;
    box-shadow: 0px 0px 20px gray;
    height: max-content;
    width: 25%;
    margin-top: 5%;
    margin-left: 35%;
    display: none;
}
#selectorh {
    height: 5px;
    width: 100px;
    background-color: rgb(212, 209, 209);
    position: absolute;
    margin-top: 74px;
    margin-left: 38px;
}

#titleContainer {
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
#submit {
    margin-left: -20;
    margin-top: 80px;
}

#separator {
    background-color: gray;
    opacity: 0.7;
    height: 60px;
    width: 1px;
    position: absolute;
    left: 1830px;
    top: 10px;
}

#fileUpload {
    color: #D4D1D1;
    margin-left: 50px;
}
#inputSubmit {
    color: #D4D1D1;
}

#profile {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: white;
    margin-left: 1850;
    border-radius: 50%;
    top: 15px;
}

#more {
    margin-left: 1760;
    font-size: large;
    position: absolute;
    top: 27px;
    color: white;
}

#profile {
    position: absolute;
}
#triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    border-bottom: 18px solid white;
    margin-left: 1865;
    display: none;
}
#dropMenu {
    height: 150px;
    width: 150px;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 4px gray;
    border-radius: 2%;
    margin-left: 1750;
    margin-top: 16px;
    text-align: center;
    display: none;
}

.logout{
    font-size: 15px;
    margin-left: 35px;
    margin-top: 10px;
}

.progress-bar {
    height: 35px;
    width: 250px;
    border: 2px solid black;
    border-radius: 1%;
    margin-left: 110px;
    display: none;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: gray;
    align-items: center;
    opacity: 0.5;
    font-weight: bold;
    transition: width 0.25s;
}

.progress-bar-text  {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}